@import url('https://fonts.googleapis.com/css?family=Lato:400,900|Roboto+Slab:400,700');

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

*:lang(ko) { h1, h2, h3 { word-break: keep-all; } }

body {
  margin: 0;
  padding: 0;
  background: #F8F8FA;
  font-family: "Roboto Slab", serif;
  font-size: 1.12rem;
  color: #303037;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1em 0;
}

.wrap {
  flex: 1;
  max-width: 800px;
  margin: 0 3%;
}

.title {
  padding: 3em 0;
  background: #eaeaec;
}

.title h1 {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 4em;
  margin-bottom: 0.25em;
}

.footer {
  padding: 0.5em 0 2em;
  background: #f0f0f3;
  text-align: center;
}

li {
  line-height: 1.625;
}

p, blockquote, q {
  line-height: 1.825;
  margin: 0 0 1.0em;
  word-wrap: break-word;
}

@media screen and (max-width: 720px) {
  body {
    font-size: 1rem;
  }

  .title {
    padding: 2em 0;
  }

  .title h1 {
    font-size: 2.5em;
  }
}
